* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans'
}
#portafolio{
	padding: 5%;
}
#portafolio ul{
	margin: 2% 0 2% 0;
}
#portafolio ul a{
	text-decoration: none;
	padding: 1% 1%;
	font-size: 1em;
	font-weight: bold;
}
#portafolio ul a:hover{
	background-color: #18bc9c;
	color: white;
	border-radius: 10%;
}
/* Common style */
.imagen figure {
	position: relative;
	float: left;
	text-align: center;
	cursor: pointer;
	margin-top: 3%;
}
.imagen figure img {
	position: relative;
	display: block;
	opacity: 0.8;
}
.imagen figure figcaption {
	padding: 2em;
	color: #fff;
	font-size: 1.25em;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}
.imagen figure figcaption::before,
.imagen figure figcaption::after {
	pointer-events: none;
}

.imagen figure figcaption,
.imagen figure figcaption > a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
/* Anchor will cover the whole item by default */
/* For some effects it will show as a button */
.imagen figure figcaption > a {
	z-index: 1000;
	text-indent: 200%;
	white-space: nowrap;
	font-size: 0;
	opacity: 0;
}
.imagen figure h2 {
	word-spacing: -0.15em;
	font-weight: 300;
}
.imagen figure h2,
.imagen figure p {
	margin: 0;
}

.imagen figure p {
	color: white;
}

.imagen figure p a:hover{
	color: #18bc9c
}
figure.effect-phoebe {
	background: gray;
}

figure.effect-phoebe img {
	opacity: 0.85;
	-webkit-transition: opacity 0.35s;
	transition: opacity 0.35s;
}

figure.effect-phoebe:hover img {
	opacity: 0.6;
}
.btn1{
	padding: 0 2% 2%;
}
.load{
	background-color: #6E6E6E;
	padding: 1%;
	border-radius: 3%;
}
.col-12 .load{
	text-decoration: none;
	color: white;
}
.col-12 .load:hover{
	background-color: transparent;
	color: #18bc9c;
	border: solid #18bc9c 2px;
}


figure.effect-phoebe figcaption::before {
	position: absolute;
	content: '';
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: scale3d(5,2.5,1);
	transform: scale3d(5,2.5,1);
	-webkit-transform-origin: 50% 50%;
	transform-origin: 50% 50%;
}

figure.effect-phoebe:hover figcaption::before {
	opacity: 0.6;
	-webkit-transform: scale3d(1,1,1);
	transform: scale3d(1,1,1);
}

figure.effect-phoebe h2 {
	margin-top: 1em;
	-webkit-transition: transform 0.35s;
	transition: transform 0.35s;
	-webkit-transform: translate3d(0,40px,0);
	transform: translate3d(0,40px,0);
}

figure.effect-phoebe:hover h2 {
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

figure.effect-phoebe p a {
	color: #fff;
	font-size: 140%;
	opacity: 0;
	position: relative;
	display: inline-block;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
}

figure.effect-phoebe p a:first-child {
	-webkit-transform: translate3d(-60px,-60px,0);
	transform: translate3d(-60px,-60px,0);
}

figure.effect-phoebe p a:nth-child(2) {
	-webkit-transform: translate3d(0,60px,0);
	transform: translate3d(0,60px,0);
}

figure.effect-phoebe p a:nth-child(3) {
	-webkit-transform: translate3d(60px,-60px,0);
	transform: translate3d(60px,-60px,0);
}

figure.effect-phoebe:hover p a {
	opacity: 1;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}
.call .ciudad{
	width: 100%;
	height: 400px;
	background-image: url("../img/background/city.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}
.ciudad p a{
	color: white;
	text-decoration: none;
	text-align: center;
	padding: 1%;
	border: solid white 2px;
	margin-top: 5%;
	font-weight: bolder;
	font-size: 1.3em;
}
.opacity .ultimo{
	margin: 5%;
}
.ultimo a:hover{
	background-color: #18bc9c;
	font-weight: bolder;
	color: white;
	border: none;
}
#price h2{
	padding: 2%;
}
#price .precio{
	border: solid red 2px;
	padding: 2%;
	margin-top: 3%;
}
.titulo{
	width: 100%;
	background-color: #323A45;
	height: 80px;
	padding: 8%;
	border: #fff solid 3px;
}
.money{
	width: 100%;
	background-color: #F0F0F0;
	height:140px;
	padding: 15%;
	border: red solid 3px;
}
.money span{
	font-size: 2em;
}
.descripcion{
	background-color: #fff;
	border: green solid 3px;
	padding-bottom: 5%;
}
.descripcion ul{
	padding-left: 6%;
	padding-right: 6%;
}
.descripcion ul li{
	list-style: none;
	border-bottom: solid #F0F0F0 1px;
	margin:8%;
}
.descripcion ul li:last-child{
	padding-bottom: 3%;
}
.precio a{
	padding: 2%;
}