::-moz-selection { color: white;  background: #0DC0C0; }
::selection      { color: white;  background: #0DC0C0; } 

/* dibuja el texto seleccionado en un parrafo de color blanco y negro*/
p::-moz-selection { color: white;  background: #0DC0C0;}
p::selection      { color: white;  background: #0DC0C0; }

body{
	
}
@media (min-width: 320px) and (max-width: 640px) {
	nav {
   		 background-color: rgba(0, 0, 0, 0.72);
   		color: #0DC0C0;
   		    padding-bottom: 2.5%;
	}
	nav a:hover {
	color: white;
	background-color: #0DC0C0;
	border-radius: 5px;
}
.nav > li > a:hover,
.nav > li > a:focus {
  text-decoration: none;
  color: white;
 }
figure.effect-phoebe h2 {
    margin-top: -1.3em !important;
    font-size: 24px;
}
.opacity .container {
    margin: 0 !important;
    
}
.padd{
	padding-left: 2% !important;
	padding-right: 2% !important; 
}

.navbar-brand {
  font-size: 25px !important;

}
.texto h1
{
	font-size: 49px !important;
	padding-top: 47% !important;
  padding-left: 19%;
    padding-right: 19%;
}
.texto p{
	font-size: 19px !important;
	padding-top: 4%;
	padding-left: 11%;
	padding-right: 11%;
}

.texto{
	color: white;
	padding-top: 0% !important;
	margin: auto;

}

aside{
	height: 800px !important;
	background: url(../img/background/hero.jpg) no-repeat;
	background-size: cover;
	width: 100%;
	background-attachment: fixed;
}
.opacity {
	background-color: rgba(0, 0, 0, 0.50);
	height: 800px !important;
}

.botones{
	display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 6% !important;
}


.ico{
	padding-top: 7%;
	padding-bottom: 9%;
}

.icons p {

	font-size: 1.1em !important;
	padding-left: 6% !important;
	padding-right: 6% !important;
	padding-top: 1%;

}

.section2 h1{
	padding-top: 6% !important;
}
.image-lap{
	padding-bottom: 7% !important;
}

.section3 .col-xs-2{
	width: 16.3333% !important;
}


.section3{
	padding-left: 3% !important;
	padding-right: 3.4% !important;
}
.section3 p{
	font-size: 14px !important;
}
.col-xs-10, .col-xs-2 {
	padding-top: 7%;
	padding-bottom: 7%;
}

.col-xs-10{
	padding-right: 0px !important;
	padding-left: 9px !important;

}

.section3 p{
	font-size: 15px;
}

.pt-10{
	padding-top: 32% !important;
}
#portafolio{
padding: 5% 5% 14% 5% !important;
}

.call .ciudad {
    height: 450px !important;
    }

.opacity2{
height: 450px !important;
}

#price h2{
	padding-top: 9% !important;
    padding-bottom: 1%;
    padding-left: 5% !important;
    padding-right: 5% !important;
}

.contactus .container{
	padding-left: 2.5% !important;
	padding-right: 2.5% !important;
}
.contactus{
	
	height: auto !important;
}
.opacity3 {
	height: auto !important;
	padding-bottom: 9% !important;
}

.call h3{
	font-size: 23px !important;
}
.shadw .col-12{
	display: inline !important
;
}
#price{
	height: auto !important;
	padding-bottom: 10%;
}
#price .precio {
	margin: 2% 0px !important;
}


.follow h2{
	padding-top: :10% !important;
	padding-bottom: 7% !important;
}

.follow p{
	padding-left: 17% !important;
    padding-right: 17% !important;
    padding-bottom: 5% !important;
}

.pt-5{
	padding-top: 0% !important;
}

.lg-text{
 	padding-left: 12% !important;
    padding-right: 12% !important;
    padding-top: 5% !important;
    padding-bottom: 8% !important;
    font-size: 1em !important;
}

#personaje img {
    width:22% !important;
}
#personaje h2{
	padding-left: 10% !important;
    padding-right: 10% !important;
    font-size: 2.2em !important;
}

.navbar-toggle:hover {
  cursor: pointer; }
.navbar-toggle.open .icon-bar {
  background: #fff; }
  .navbar-toggle.open .icon-bar:first-child {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(47deg);
    -webkit-transform-origin: 10px;
    -moz-transform-origin: 10px;
    -ms-transform-origin: 10px;
    -o-transform-origin: 10px;
    transform-origin: 4px; }
  .navbar-toggle.open .icon-bar:nth-child(2) {
    opacity: 0; }
  .navbar-toggle.open .icon-bar:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-49deg);
    -webkit-transform-origin: 8px;
    -moz-transform-origin: 8px;
    -ms-transform-origin: 8px;
    -o-transform-origin: 8px;
    transform-origin: 3px; }

.icon-bar {
  -webkit-transition-property: all;
  -moz-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  transition-duration: 0.2s;
  display: block;
  width: 26px;
  height: 2px;
  margin: 0 0 5px;
  background: #fff; }

 /* Bounce To Right */
.hvr-bounce-to-right {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
.hvr-bounce-to-right:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #0DC0C0;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-bounce-to-right:hover, .hvr-bounce-to-right:focus, .hvr-bounce-to-right:active {
  color: white;
}
.hvr-bounce-to-right:hover:before, .hvr-bounce-to-right:focus:before, .hvr-bounce-to-right:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
  transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}


.hvr-bounce-to-right{display:inline-block;vertical-align:middle;-webkit-transform:translateZ(0);transform:translateZ(0);box-shadow:0 0 1px rgba(0,0,0,0);-webkit-backface-visibility:hidden;backface-visibility:hidden;-moz-osx-font-smoothing:grayscale;position:relative;-webkit-transition-property:color;transition-property:color;-webkit-transition-duration:.5s;transition-duration:.5s}.hvr-bounce-to-right:before{content:"";position:absolute;z-index:-1;top:0;left:0;right:0;bottom:0;background:#0DC0C0; border-radius: 5px;-webkit-transform:scaleX(0);transform:scaleX(0);-webkit-transform-origin:0 50%;transform-origin:0 50%;-webkit-transition-property:transform;transition-property:transform;-webkit-transition-duration:.5s;transition-duration:.5s;
-webkit-transition-timing-function:ease-out;transition-timing-function:ease-out} .
hvr-bounce-to-right:active,.hvr-bounce-to-right:focus,.hvr-bounce-to-right:hover{color:#fff}.hvr-bounce-to-right:active:before,.hvr-bounce-to-right:focus:before,.hvr-bounce-to-right:hover:before{-webkit-transform:scaleX(1);transform:scaleX(1);-webkit-transition-timing-function:cubic-bezier(0.52,1.64,.37,.66);transition-timing-function:cubic-bezier(0.52,1.64,.37,.66)}.hvr-bounce-to-left{display:inline-block;vertical-align:middle;-webkit-transform:translateZ(0);transform:translateZ(0);box-shadow:0 0 1px rgba(0,0,0,0);-webkit-backface-visibility:hidden;backface-visibility:hidden;-moz-osx-font-smoothing:grayscale;position:relative;-webkit-transition-property:color;transition-property:color;-webkit-transition-duration:.5s;transition-duration:.5s}

 }


/*----*/
.nav > li > a:hover,
.nav > li > a:focus {
  text-decoration: none;
 
}

nav {
	font-size: 1.4em;
}

nav a {
	font-size: 0.9em;
	color: white;
	margin: 0% 3%;
	font-weight: bold;
}

nav li a:hover {
	color: #0DC0C0;
	}

#menu.active {
	background-color: #009ca8;
	padding: 6px 0;
  webkit-transform: translateY(0);
	-moz-transform: translateY(0);
	-ms-transform: translateY(0);
	-o-transform: translateY(0);
	transform: translateY(0);
	-webkit-transition: all 0s ease-in-out;
	-moz-transition: all 0s ease-in-out;
	transition: all 0.1s ease-in-out;
	-webkit-transform: translateZ(0);
}
/*END HEADER*/

#menu i{
	color: white;
}
aside{
	height: 1077px;
	background: url(../img/background/hero.jpg) no-repeat;
	background-size: cover;
	width: 100%;
	background-attachment: fixed;
}
.opacity {
	background-color: rgba(0, 0, 0, 0.50);
	height: 1077px;
}

.texto{
	color: white;
	padding-top: 20%;
	margin: auto;

}

.padd{
	padding-left: 15%;
	padding-right: 15%;
}

nav h1{
	font-size: 1.2em !important;
}

.texto p{
	font-size: 22px;
	padding-top: 2%;
}

.botones{
	display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 2%;
}
.btn-portfolio{
	background: rgba(56, 56, 58, 0.91);
	font-size: 1.6em;
	color: white;
	width: 170px;
	text-align: center;
	margin-right: 6%;
	padding: 1.5% 0.5%;

	
}
.btn-learn-more{
	background: rgba(236, 240, 241, 0.15);
	font-size: 1.6em;
	color: white;
	width: 170px;
	text-align: center;
	padding: 1.5% 0.5%;

}


.btn-learn-more:hover, .btn-portfolio:hover {
	background: #0DC0C0;
}

.icons{
padding-top: 6%;
padding-left: 14%;
padding-right: 14%;
margin: 0;
}
.icons:nth-child(2){
	padding-bottom: 9%;
}

i{
	font-size: 4.5em;
	color: #0DC0C0;
}


.icons p {
	font-size: 1.1em;
	color: gray;
	padding-left: 15%;
	padding-right: 15%;
	padding-top: 1%;
}

.section1{
	padding-top: 5%;
	padding-bottom: 5%;
}
.section2 {
	background-color: #F7F7F7;
    
}
.image-lap{
	display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 1.5%;

}
.section2 h1{
	color: #888;
	font-size: 2.5em;
	padding-top: 3%;
	padding-bottom: 2%;
}
.laptops{
	width: 70% !important;
}

.section3{
	padding-left: 18%;
	padding-right: 13%;
	padding-top: 2%;
	padding-bottom: 2%;
}

.o-features{
	padding-top: 2.5%;
	padding-bottom: 2.5%;
}

.section3 i{
	font-size: 2.8em;
}

.col-xs-2{
	width: 11.333%;
}

.ft-1{
	font-size: 1.1em;
}

.lg-text{
	padding-left: 23%;
    padding-right: 23%;
    font-size: 1.2em;
    color: ##4A4A4A;
}

#personaje h2{
	color: #7A7A7A;
    font-size: 2.5em;
    padding-top: 2%;
    padding-bottom: 0%;
}
#personaje .strong{
	padding-top: 1% !important;
    padding-bottom: 1% !important;
}
/*Contact Us*/
.contactus{
	background-image: url("../img/background/contactus.jpg");
	background-size: cover;
	height: 780px;
}
.opacity3 {
	width: 100%;
	height: 780px;
	background-color: rgba(0, 0, 0, 0.50);
	padding-top: 3.5%;

}

.text-white{
	color: white;
}

.contactus h3{
	padding-bottom: 2%;
	padding-top: 2%;
}

.contactus h1{
	font-size: 2.5em;
    padding-top: 4%;
    padding-bottom: 1%;
}
.input, .message{
	padding: 2%;
	background-color: rgba(227, 230, 230, 0.13);
    display: block;
    width: 85%; 
    margin-bottom: 20px;
    border: none;
}
.message{
    height: 200px;
}
.contactus button{
	border: solid white 2px;
    background-color: transparent;
	padding: 10px 22px;
	font-size: 1.3em;
}
.contactus button:hover{
	background-color:  #0DC0C0;
	border: 1px solid #0DC0C0;
}
.contactus i{
	font-size: 1.8em;
	color: white;
}
.about{
	line-height: 28px;
}
/*Follow Us*/
.follow h2{
	    padding-top: 67px;
    padding-bottom: 31px;
    color: #7A7A7A
}
.follow p{
	font-size: 1.2em;
}
.follow div a {
	font-size: 2.8em;
	margin-left: 1%;
}
.follow a:hover {
	color: black;
}


.follow i{
	font-size: 1em;
    color: black;
}

.follow i:hover{
	color: #0DC0C0;
}


form input{
	color: white !important;
}

/*Footer*/


footer{
	background-color: black;
	padding: 2%;
	position: fixed;
}
footer p{
	color: gray;
}