::-moz-selection { color: white;  background: #0DC0C0; }
::selection      { color: white;  background: #0DC0C0; } 

/* dibuja el texto seleccionado en un parrafo de color blanco y negro*/
p::-moz-selection { color: white;  background: #0DC0C0;}
p::selection      { color: white;  background: #0DC0C0; }

@media (min-width: 320px) and (max-width: 640px) {
	nav {
   		 background-color: rgba(0, 0, 0, 0.72);
   		color: #0DC0C0;
	}
	nav a:hover {
	color: white;
	background-color: #0DC0C0;
	border-radius: 5px;
}
.nav > li > a:hover,
.nav > li > a:focus {
  text-decoration: none;
  color: white;
 }

.opacity .container {
    margin: 0 !important;
    padding: 40% 9% 0% 13%  !important;
}
.padd{
	padding-left: 2% !important;
	padding-right: 2% !important; 
}

h1,
.h1 {
  font-size: 44px !important;
  padding-top: 40%;
  padding-left: 11%;
    padding-right: 11%;
}

.texto p{
	font-size: 19px !important;
	padding-top: 2%;
	padding-left: 11%;
	padding-right: 11%;
}
.row {	  
	    padding:0 !important;
	}	
.texto p{
	font-size: 15px !important;
	padding-top:4%;
}

aside{
	height: 600px !important;
	background: url(../img/background/hero.jpg) no-repeat;
	background-size: cover;
	width: 100%;
	background-attachment: fixed;
}
.opacity {
	background-color: rgba(0, 0, 0, 0.50);
	height: 600px !important;
}

.navbar-toggle:hover {
  cursor: pointer; }
.navbar-toggle.open .icon-bar {
  background: #fff; }
  .navbar-toggle.open .icon-bar:first-child {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(47deg);
    -webkit-transform-origin: 10px;
    -moz-transform-origin: 10px;
    -ms-transform-origin: 10px;
    -o-transform-origin: 10px;
    transform-origin: 4px; }
  .navbar-toggle.open .icon-bar:nth-child(2) {
    opacity: 0; }
  .navbar-toggle.open .icon-bar:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-49deg);
    -webkit-transform-origin: 8px;
    -moz-transform-origin: 8px;
    -ms-transform-origin: 8px;
    -o-transform-origin: 8px;
    transform-origin: 3px; }

.icon-bar {
  -webkit-transition-property: all;
  -moz-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  transition-duration: 0.2s;
  display: block;
  width: 26px;
  height: 2px;
  margin: 0 0 5px;
  background: #fff; }

 /* Bounce To Right */
.hvr-bounce-to-right {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
.hvr-bounce-to-right:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #0DC0C0;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-bounce-to-right:hover, .hvr-bounce-to-right:focus, .hvr-bounce-to-right:active {
  color: white;
}
.hvr-bounce-to-right:hover:before, .hvr-bounce-to-right:focus:before, .hvr-bounce-to-right:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
  transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}


.hvr-bounce-to-right{display:inline-block;vertical-align:middle;-webkit-transform:translateZ(0);transform:translateZ(0);box-shadow:0 0 1px rgba(0,0,0,0);-webkit-backface-visibility:hidden;backface-visibility:hidden;-moz-osx-font-smoothing:grayscale;position:relative;-webkit-transition-property:color;transition-property:color;-webkit-transition-duration:.5s;transition-duration:.5s}.hvr-bounce-to-right:before{content:"";position:absolute;z-index:-1;top:0;left:0;right:0;bottom:0;background:#0DC0C0; border-radius: 5px;-webkit-transform:scaleX(0);transform:scaleX(0);-webkit-transform-origin:0 50%;transform-origin:0 50%;-webkit-transition-property:transform;transition-property:transform;-webkit-transition-duration:.5s;transition-duration:.5s;
-webkit-transition-timing-function:ease-out;transition-timing-function:ease-out} .
hvr-bounce-to-right:active,.hvr-bounce-to-right:focus,.hvr-bounce-to-right:hover{color:#fff}.hvr-bounce-to-right:active:before,.hvr-bounce-to-right:focus:before,.hvr-bounce-to-right:hover:before{-webkit-transform:scaleX(1);transform:scaleX(1);-webkit-transition-timing-function:cubic-bezier(0.52,1.64,.37,.66);transition-timing-function:cubic-bezier(0.52,1.64,.37,.66)}.hvr-bounce-to-left{display:inline-block;vertical-align:middle;-webkit-transform:translateZ(0);transform:translateZ(0);box-shadow:0 0 1px rgba(0,0,0,0);-webkit-backface-visibility:hidden;backface-visibility:hidden;-moz-osx-font-smoothing:grayscale;position:relative;-webkit-transition-property:color;transition-property:color;-webkit-transition-duration:.5s;transition-duration:.5s}

 }


/*----*/
.nav > li > a:hover,
.nav > li > a:focus {
  text-decoration: none;
 
}

nav {
	font-size: 1.4em;
}

nav a {
	font-size: 0.9em;
	color: white;
	margin: 0% 3%;
	font-weight: bold;
}

nav li a:hover {
	color: #0DC0C0;
	}

#menu.active {
	background-color: #009ca8;
	padding: 6px 0;
  webkit-transform: translateY(0);
	-moz-transform: translateY(0);
	-ms-transform: translateY(0);
	-o-transform: translateY(0);
	transform: translateY(0);
	-webkit-transition: all 0s ease-in-out;
	-moz-transition: all 0s ease-in-out;
	transition: all 0.1s ease-in-out;
	-webkit-transform: translateZ(0);
}
/*END HEADER*/


aside{
	height: 1080px;
	background: url(../img/background/hero.jpg) no-repeat;
	background-size: cover;
	width: 100%;
	background-attachment: fixed;
}
.opacity {
	background-color: rgba(0, 0, 0, 0.50);
	height: 1080px;
}

.texto{
	color: white;
	padding-top: 20%;
	margin: auto;

}

.padd{
	padding-left: 15%;
	padding-right: 15%;
}

nav h1{
	font-size: 1.2em !important;
}

.texto p{
	font-size: 22px;
	padding-top: 2%;
}

.btn-portfolio{
	background: rgba(56, 56, 58, 0.91);
	font-size: 1.6em;
	color: white;
	width: 170px;
	text-align: center;
	margin-right: 6%;
	padding: 1.5% 0.5%;

	
}
.btn-learn-more{
	background: rgba(236, 240, 241, 0.15);
	font-size: 1.6em;
	color: white;
	width: 170px;
	text-align: center;
	padding: 1.5% 0.5%;

}

.container .row{
	margin: 4% 32%;
}

.btn-learn-more:hover, .btn-portfolio:hover {
	background: #0DC0C0;
}

.icons i {
	font-size: 3em;
	color: #0DC0C0;
}

.icons p {
	font-size: 0.8em;
}

/*FEATURES*/

#features {
	font-size: 2em;
}

/*DESCRIPTION*/

.description {
	font-size: 0.8em;
}

.description i {
	font-size: 2em;
	color: #0DC0C0;
}

.description .col-sm-11 {
	padding: 1%;
}

.description .col-sm-6 .row {
	padding: 5%;
}
